contextily==1.6.2
fiona==1.10.1
geopandas==1.0.1
matplotlib==3.9.2
numpy==2.1.2
osmium==3.7.0
overpy==0.7
pandas==1.4.3
psutil==6.0.0
pyproj==3.7.0
Requests==2.32.3
scikit_learn==1.5.2
scipy==1.14.1
setuptools==63.2.0
Shapely==2.0.6
