absl-py==2.1.0
acv-exp==1.2.3
affine==2.3.1
altair==5.2.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.5.2
asttokens==2.0.8
astunparse==1.6.3
attrs==22.1.0
backcall==0.2.0
basemap==1.3.6
basemap-data==1.3.2
beautifulsoup4==4.11.1
biogeme==3.2.13
biogeme-optimization==0.0.5
bleach==5.0.1
blinker==1.7.0
branca==0.6.0
cachetools==5.3.2
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
clusteval==2.1.3
colorama==0.4.5
colourmap==1.1.10
combine-gtfs-feeds==0.1.8
contextily==1.2.0
contourpy==1.0.5
cryptography==41.0.4
cycler==0.11.0
Cython==3.0.5
cythonbiogeme==1.0.2
cythoninstallhelpers==1.3.0
d3blocks==1.1.0
d3graph==2.3.4
d3heatmap==0.2.1
dask==2023.3.2
dask-geopandas==0.3.0
data==0.4
DateTime==5.2
debugpy==1.6.3
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
distributed==2023.3.2
Django==4.1.2
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.1.1
fastjsonschema==2.16.2
feather-format==0.4.1
Fiona @ file:///C:/Users/ge93nil/pipwin/Fiona-1.8.21-cp310-cp310-win_amd64.whl
flatbuffers==24.3.25
floweaver==2.0.1
folium==0.14.0
fonttools==4.37.4
fqdn==1.5.1
fsspec==2023.3.0
funcsigs==1.0.2
future==0.18.3
gast==0.5.4
GDAL @ file:///C:/Users/ge93nil/pipwin/GDAL-3.4.3-cp310-cp310-win_amd64.whl
geofeather==0.3.0
geographiclib==1.52
geopandas==0.12.2
geopy==2.2.0
gitdb==4.0.11
GitPython==3.1.40
google-pasta==0.2.0
gpxpy==1.5.0
greenlet==2.0.1
grpcio==1.64.1
gtfs-kit==5.2.7
gtfslib==1.0.0
gtfsmerger==0.1.6
h11==0.14.0
h3==3.7.4
h3pandas==0.2.3
h5netcdf==1.3.0
h5py==3.10.0
haversine==2.7.0
HeapDict==1.0.1
html2text==2020.1.16
idna==3.4
imageio==2.22.2
imageio-ffmpeg==0.4.7
imgkit==1.2.2
importlib-metadata==6.1.0
ipykernel==6.16.0
ipysankeywidget==0.5.0
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
ismember==1.0.2
isoduration==20.11.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
Js2Py==0.71
json2html==1.3.0
jsonpointer==2.3
jsonschema==4.17.0
jupyter-events==0.5.0
jupyter_client==7.4.8
jupyter_core==5.1.1
jupyter_server==2.0.5
jupyter_server_terminals==0.4.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kaleido==0.2.1
keras==3.3.3
kiwisolver==1.4.4
latex==0.7.0
leuvenmapmatching==1.1.4
libclang==18.1.1
libpysal==4.7.0
lightgbm==4.2.0
line-profiler==4.0.3
llvmlite==0.41.1
locket==1.0.0
lxml==4.9.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.6.2
matplotlib-inline==0.1.6
matrixconverters==1.2.0
mdurl==0.1.2
mercantile==1.2.1
mistune==2.0.4
ml-dtypes==0.3.2
moviepy==1.0.3
msgpack==1.0.5
multiprocess==0.70.14
munch==2.5.0
mypy-extensions==1.0.0
namex==0.0.8
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==2.8.7
notebook==6.5.2
notebook_shim==0.2.2
numba==0.58.1
numpy==1.26.4
openpyxl==3.0.10
openrouteservice==2.3.3
opt-einsum==3.3.0
optree==0.11.0
osmium==3.5.0
osmnx==1.3.0
osmread==0.2.dev0
outcome==1.3.0.post0
packaging==21.3
palettable==3.3.0
pandas==1.5.3
pandas-read-xml==0.3.1
pandera==0.13.4
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.2.0
pipreqs==0.4.13
pipwin==0.5.2
platformdirs==2.5.4
plotly==5.11.0
Polygon3==3.0.9.1
polyline==1.4.0
proglog==0.1.10
prometheus-client==0.15.0
prompt-toolkit==3.0.31
protobuf==4.21.9
psutil==5.9.2
psycopg2==2.9.5
pure-eval==0.2.2
py2d==0.1
pyarrow==11.0.0
pycountry==22.3.5
pycparser==2.21
pydantic==1.9.0
pydeck==0.8.1b0
pygeos==0.13
Pygments==2.13.0
pyjsparser==2.7.1
PyJWT==2.8.0
pyogrio==0.5.1
pyparsing==3.0.9
pypickle==1.1.0
PyPrind==2.11.3
pyproj==3.4.1
pyproject_hooks==1.0.0
Pyqtree==1.0.0
pyrsistent==0.19.2
pyshp==2.1.3
pySmartDL==1.3.4
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.4
python-louvain==0.16
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pywin32==304
pywinpty==2.0.9
PyYAML==6.0
pyzmq==24.0.1
rasterio==1.3.2
rasterstats==0.17.0
requests==2.28.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
Rtree==1.0.1
scikit-learn==1.1.2
scipy==1.13.1
seaborn==0.12.1
selenium==4.15.1
Send2Trash==1.8.0
shap==0.41.0
shapely==2.0.1
shutilwhich==1.1.0
simplejson==3.18.0
six==1.16.0
sklearn==0.0
skranger==0.8.0
slicer==0.0.7
smmap==5.0.1
smopy==0.0.8
sniffio==1.3.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.45
sqlparse==0.4.3
stack-data==0.5.1
statsmodels==0.13.5
streamlit==1.29.0
tblib==1.7.0
tempdir==0.7.1
tenacity==8.1.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.17.1
tex==1.8
threadpoolctl==3.1.0
tinycss2==1.2.1
tobler==0.9.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.5
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.8.0
transbigdata==0.4.17
trio==0.23.0
trio-websocket==0.11.1
typing-inspect==0.9.0
typing_extensions==4.4.0
tzdata==2023.3
tzlocal==4.2
uri-template==1.2.0
urllib3==1.26.12
utm==0.7.0
validators==0.22.0
watchdog==3.0.0
watermark==2.3.1
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==3.0.3
wget==3.2
widgetsnbextension==4.0.5
wkhtmltopdf==0.2
workers==0.1
wrapt==1.15.0
wsproto==1.2.0
xarray==2023.11.0
xgboost==1.7.5
xmltodict==0.13.0
xyzservices==2022.9.0
yarg==0.1.9
zict==2.2.0
zipfile36==0.1.3
zipp==3.15.0
zope.interface==6.0
